header {
padding-top: 20px;
padding-bottom: 20px;
}

.img-container > img{
width: 100%;
display: none;
}

.img-container > img.current {
display: block;
animation: fadeIn .3s linear;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.arrow{
font-size: 40px;
}

.arrow > .fas {
margin-top: -32px;
}

.dots-container{
height: 40px;
position: relative;
top: -40px;
}

.slider-dots {
height: 32px;
width: 120px;
background-color: rgba(0, 0, 0, 0.767);
border-radius: 10px;
color: #fff;
font-size: 10px;
}

.current {
color: #2d64e6;
}


